<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{% block metadescription %}{% endblock %}">
    <meta name="keywords" content="{% block metakeys %}{% endblock %}">
    <meta name="author" content="">
    <title>{% block title %}Welcome Admin !{% endblock %}</title>
{% block stylesheets %}{% endblock stylesheets %}
    {% block header_javascripts %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('site/images/apple-touch-icon.png') }}"/>
 
<!-- Bootstrap core CSS -->
</head>
<body>
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
