{% trans_default_domain 'shop' %}
<div class="list-group">
<h4 class="list-group-item menu-link">{{ 'manufacturers.menu.header'|trans }}</h4>
    {% for manufacturer in manufacturers %}
        <a href="{{ path('manufacturer', {'slug' : manufacturer.slug}) }}" class="list-group-item menu-link">
            {{ manufacturer.name }}
        </a>
    {% endfor %}
</div>
