<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>Lookshop Bootstarp Website Template | Products :: w3layouts</title>
<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!-- Custom Theme files -->
<link href="css/style.css" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--webfont-->
<link href='http://fonts.googleapis.com/css?family=Oxygen:300,400,700' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
<script src="js/jquery.easydropdown.js"></script>
<script src="js/easyResponsiveTabs.js" type="text/javascript"></script>
		    <script type="text/javascript">
			    $(document).ready(function () {
			        $('#horizontalTab').easyResponsiveTabs({
			            type: 'default', //Types: default, vertical, accordion           
			            width: 'auto', //auto or any width like 600px
			            fit: true   // 100% fit in a container
			        });
			    });
</script>	
</head>
<body>
<div class="header">
   <div class="header_top">
    <div class="container">
	  <div class="header_top_left">
	  	<p>customer care : 0-888-23-5467</p>
	  </div>
	  <div class="header_top_right">
	  	<div class="lang_list">
			<select tabindex="4" class="dropdown">
				<option value="" class="label" value="">$ Us</option>
				<option value="1">Dollar</option>
				<option value="2">Euro</option>
			</select>
   		</div>
   		<ul class="header_user_info">
		  <a class="login" href="login.html">
			<i class="user"></i> 
			<li class="user_desc">My Account</li>
		  </a>
		  <div class="clearfix"> </div>
	    </ul>
	    <!-- start search-->
			<div class="search-box">
			   <div id="sb-search" class="sb-search">
				  <form>
					 <input class="sb-search-input" placeholder="Enter your search term..." type="search" name="search" id="search">
					 <input class="sb-search-submit" type="submit" value="">
					 <span class="sb-icon-search"> </span>
				  </form>
			    </div>
			 </div>
			 <!----search-scripts---->
			 <script src="js/classie.js"></script>
			 <script src="js/uisearch.js"></script>
			   <script>
				 new UISearch( document.getElementById( 'sb-search' ) );
			   </script>
				<!----//search-scripts---->
	            <div class="clearfix"> </div>
		 </div>
	  <div class="clearfix"> </div>
	</div>
  </div>
  <div class="header_bottom">
	<div class="container">	 			
		<div class="logo">
		  <a href="index.html"><img src="images/logo.png" alt=""/></a>
		</div>	
		<div class="header_bottom_right">			
	        <div class="h_menu4"><!-- start h_menu4 -->
				<a class="toggleMenu" href="#">Menu</a>
				<ul class="nav">
					<li class="active"><a href="index.html">New</a></li>
					<li><a href="products.html">Designers</a></li>
					<li><a href="products.html">Women</a>
						<ul>
							<li><a href="products.html">Accessories</a></li>
							<li><a href="products.html">Ethnic Apparel</a></li>
							<li><a href="products.html">Footwear</a></li>
							<li><a href="products.html">Grooming</a></li>
							<li><a href="products.html">Handbags</a></li>
							<li><a href="products.html">Jewellery</a></li>
						</ul>
					</li>
					<li><a href="products.html">Men</a>
						<ul>
							<li><a href="products.html">Accessories</a></li>
							<li><a href="products.html">Footwear</a></li>
							<li><a href="products.html">Apparel</a></li>
						</ul>
					</li>
					<li><a href="products.html">Clearence</a></li>
				</ul>
				<script type="text/javascript" src="js/nav.js"></script>
	      </div><!-- end h_menu4 -->
		  <div class="shopping_cart">
		 	<ul class="shopping_cart_top">
			    <a href="#">
				   <li class="shop_left">Your cart</li>
				   <li class="shop_right"><img src="images/arrow1.png" alt=""/></li>
				    <div class="clearfix"></div>	
				</a>
			</ul>
			<ul class="shopping_bag">
			    <a href="#">
				   <li class="bag_left"><img src="images/bag.png" alt=""/></li>
				   <li class="bag_right"> 0 Items | $ 0</li>
				    <div class="clearfix"></div>	
				</a>
			</ul>		
		  </div>
	      <div class="clearfix"></div>		   
      </div>
    </div>
  </div>
</div>
<ul class="breadcrumbs">
 <div class="container">
     <li class="home">
        <a href="index.html" title="Go to Home Page"><img src="images/home.png" alt=""/></a>&nbsp;&nbsp;
        <span>&gt;</span>&nbsp;
     </li>
     <li class="home">
         Women&nbsp; 
         <span>&gt;</span>
     </li>
     <li class="home">
         <span class="red">&nbsp;Clothes&nbsp;</span>
     </li>
  </div>
</ul>
<div class="product_banner">
 <div class="container">
    <div class="wmuSlider example1">
			   <div class="wmuSliderWrapper">
				   <article style="position: absolute; width: 100%; opacity: 0;"> 
				   	 <div class="banner-wrap">
				   	       <div class="banner_left">
				   	       	  <img src="images/product.png" class="img-responsive" alt=""/>
				   	       </div>
				   		 	<div class="banner_right">
				   		 		<h1>Open Heart Top</h1>
				   		 		<p class="p1">$13.95</p>
				   		 		<p class="p2">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim</p>
				   		 		<a href="#" class="btn1 btn2 btn-primary1"><span>Add To Cart</span><img src="images/plus.png" alt=""/></a>
				   		 	</div>
				   		 	<div class='clearfix'></div>
				   	  </div>
					</article>
				    <article style="position: relative; width: 100%; opacity: 1;"> 
				   	   <div class="banner-wrap">
				   	       <div class="banner_left">
				   	       	  <img src="images/product.png" class="img-responsive" alt=""/>
				   	       </div>
				   		 	<div class="banner_right">
				   		 		<h1>Tincidunt ut</h1>
				   		 		<p class="p1">$10.95</p>
				   		 		<p class="p2">sed diam nonummy nibh euismod tincidunt Lorem ipsum dolor sit amet, consectetuer adipiscing elit,  dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim</p>
				   		 		<a href="#" class="btn1 btn2 btn-primary1"><span>Add To Cart</span><img src="images/plus.png" alt=""/></a>
				   		 	</div>
				   		 	<div class='clearfix'></div>
				   	  </div>
				   </article>
				   <article style="position: absolute; width: 100%; opacity: 0;">
				   	 <div class="banner-wrap">
				   	       <div class="banner_left">
				   	       	  <img src="images/product.png" class="img-responsive" alt=""/>
				   	       </div>
				   		 	<div class="banner_right">
				   		 		<h1>Magna Aliquam</h1>
				   		 		<p class="p1">$08.95</p>
				   		 		<p class="p2">Dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet</p>
				   		 		<a href="#" class="btn1 btn2 btn-primary1"><span>Add To Cart</span><img src="images/plus.png" alt=""/></a>
				   		 	</div>
				   		 	<div class='clearfix'></div>
				   	  </div>
					 </article>
				 </div>
				<a class="wmuSliderPrev">Previous</a><a class="wmuSliderNext">Next</a>
                <ul class="wmuSliderPagination">
                	<li><a href="#" class="">0</a></li>
                	<li><a href="#" class="">1</a></li>
                	<li><a href="#" class="wmuActive">2</a></li>
                </ul>
            </div>
            <script src="js/jquery.wmuSlider.js"></script> 
			  <script>
       			$('.example1').wmuSlider();         
   		     </script> 	           	      
       </div>
   </div>
     <div class="products_top">
     	<div class="container">
     		<div class="col-md-9">
     			<div class="mens-toolbar">
                 <div class="sort">
               	   <div class="sort-by">
		            <label>Sort by</label>
		            <select>
		                            <option value="">
		                    Position                </option>
		                            <option value="">
		                    Name                </option>
		                            <option value="">
		                    Price                </option>
		            </select>
		            <a href=""><img src="images/arrow2.gif" alt="" class="v-middle"></a>
                   </div>
    		     </div>
    		    <div class="pages">   
        	      <div class="limiter visible-desktop">
	               <label>Showing 1-12 of 347 results</label>
	              </div>
       	          <ul class="dc_pagination dc_paginationA dc_paginationA06">
					  <li><a href="#">1</a></li>
					  <li><a href="#">2</a></li>
					  <li><a href="#">3</a></li>
					  <li><a href="#" class="current"></a></li>
		       		</ul>
		  	      <div class="clearfix"></div>
		  	    </div>
                <div class="clearfix"></div>		
		        </div>
		      <div class="product_box1">   
		        <ul class="grid-4">
          		  <li><a href="single.html">
					<div class="view view-first">
					  <img src="images/p1.jpg" class="img-responsive" alt=""/>
					   <div class="product_mask"> </div>
					   <div class="tab_desc1">
			             <h3><a href="#">Feel Tank</a></h3>
						 <p>$59.95</p>
						 <a href="#" class="btn1 btn-primary1"><span>Add To Cart</span><img src="images/plus.png" alt=""></a>
					   </div>
					 </a></div>
				  </li>
				  <li><a href="single.html">
					<div class="view view-first">
					  <img src="images/p2.jpg" class="img-responsive" alt=""/>
					   <div class="product_mask"> </div>
					   <div class="tab_desc1">
			             <h3><a href="#">Feel Tank</a></h3>
						 <p>$59.95</p>
						 <a href="#" class="btn1 btn-primary1"><span>Add To Cart</span><img src="images/plus.png" alt=""></a>
					   </div>
					 </a></div>
				  </li>
				  <li class="grid-4_last"><a href="single.html">
					<div class="view view-first">
					  <img src="images/p3.jpg" class="img-responsive" alt=""/>
					   <div class="product_mask"> </div>
					   <div class="tab_desc1">
			             <h3><a href="#">Feel Tank</a></h3>
						 <p>$59.95</p>
						 <a href="#" class="btn1 btn-primary1"><span>Add To Cart</span><img src="images/plus.png" alt=""></a>
					   </div>
					 </a></div>
				  </li>
				  <div class="clearfix"> </div>
				</ul>
			  </div>
			  <div class="product_box1">   
		        <ul class="grid-4">
          		  <li><a href="single.html">
					<div class="view view-first">
					  <img src="images/p4.jpg" class="img-responsive" alt=""/>
					   <div class="product_mask"> </div>
					   <div class="tab_desc1">
			             <h3><a href="#">Feel Tank</a></h3>
						 <p>$59.95</p>
						 <a href="#" class="btn1 btn-primary1"><span>Add To Cart</span><img src="images/plus.png" alt=""></a>
					   </div>
					 </a></div>
				  </li>
				  <li><a href="single.html">
					<div class="view view-first">
					  <img src="images/p5.jpg" class="img-responsive" alt=""/>
					   <div class="product_mask"> </div>
					   <div class="tab_desc1">
			             <h3><a href="#">Feel Tank</a></h3>
						 <p>$59.95</p>
						 <a href="#" class="btn1 btn-primary1"><span>Add To Cart</span><img src="images/plus.png" alt=""></a>
					   </div>
					 </a></div>
				  </li>
				  <li class="grid-4_last"><a href="single.html">
					<div class="view view-first">
					  <img src="images/p6.jpg" class="img-responsive" alt=""/>
					   <div class="product_mask"> </div>
					   <div class="tab_desc1">
			             <h3><a href="#">Feel Tank</a></h3>
						 <p>$59.95</p>
						 <a href="#" class="btn1 btn-primary1"><span>Add To Cart</span><img src="images/plus.png" alt=""></a>
					   </div>
					 </a></div>
				  </li>
				  <div class="clearfix"> </div>
				</ul>
			  </div>
			  <div class="product_box1">   
		        <ul class="grid-4">
          		  <li><a href="single.html">
					<div class="view view-first">
					  <img src="images/p7.jpg" class="img-responsive" alt=""/>
					   <div class="product_mask"> </div>
					   <div class="tab_desc1">
			             <h3><a href="#">Feel Tank</a></h3>
						 <p>$59.95</p>
						 <a href="#" class="btn1 btn-primary1"><span>Add To Cart</span><img src="images/plus.png" alt=""></a>
					   </div>
					 </a></div>
				  </li>
				  <li><a href="single.html">
					<div class="view view-first">
					  <img src="images/p8.jpg" class="img-responsive" alt=""/>
					   <div class="product_mask"> </div>
					   <div class="tab_desc1">
			             <h3><a href="#">Feel Tank</a></h3>
						 <p>$59.95</p>
						 <a href="#" class="btn1 btn-primary1"><span>Add To Cart</span><img src="images/plus.png" alt=""></a>
					   </div>
					 </a></div>
				  </li>
				  <li class="grid-4_last"><a href="single.html">
					<div class="view view-first">
					  <img src="images/p9.jpg" class="img-responsive" alt=""/>
					   <div class="product_mask"> </div>
					   <div class="tab_desc1">
			             <h3><a href="#">Feel Tank</a></h3>
						 <p>$59.95</p>
						 <a href="#" class="btn1 btn-primary1"><span>Add To Cart</span><img src="images/plus.png" alt=""></a>
					   </div>
					 </a></div>
				  </li>
				  <div class="clearfix"> </div>
				</ul>
			  </div>
			  <div class="pages">   
        	     <div class="limiter visible-desktop">
	               <label>Showing 1-12 of 347 results</label>
	             </div>
       	         <ul class="dc_pagination dc_paginationA dc_paginationA06">
					<li><a href="#">1</a></li>
					<li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#" class="current"></a></li>
		       	  </ul>
		  	      <div class="clearfix"></div>
		  	   </div>
     		</div>
     		<div class="col-md-3 product_right">
     			<h3 class="m_1">Categories</h3>
     			    <select class="dropdown" tabindex="10" data-settings='{"wrapperClass":"metro"}'>
            			<option value="0">New</option>	
						<option value="1">tempor</option>
						<option value="2">congue</option>
						<option value="3">mazim </option>
						<option value="4">mutationem</option>
						<option value="5">hendrerit </option>
						<option value="5"></option>
						<option value="5"></option>
		           </select>
				   <select class="dropdown" tabindex="50" data-settings='{"wrapperClass":"metro"}'>
						<option value="1">Designers</option>
						<option value="2">Sub Category1</option>
						<option value="3">Sub Category2</option>
						<option value="4">Sub Category3</option>
			       </select>
				   <select class="dropdown" tabindex="8" data-settings='{"wrapperClass":"metro"}'>
						<option value="1">Women</option>
						<option value="2">Sub Category1</option>
						<option value="3">Sub Category2</option>
						<option value="4">Sub Category3</option>
			       </select>
			       <select class="dropdown" tabindex="8" data-settings='{"wrapperClass":"metro"}'>
						<option value="1">Men</option>
						<option value="2">Sub Category1</option>
						<option value="3">Sub Category2</option>
						<option value="4">Sub Category3</option>
			       </select>
			       <select class="dropdown" tabindex="8" data-settings='{"wrapperClass":"metro"}'>
						<option value="1">Clearance</option>
						<option value="2">Sub Category1</option>
						<option value="3">Sub Category2</option>
						<option value="4">Sub Category3</option>
			       </select>
			    <ul class="size">
					<h3>Select your size</h3>
					<li><a href="#">XS</a></li>
					<li><a href="#">S</a></li>
					<li><a href="#">M</a></li>
					<li><a href="#">L</a></li>
					<li><a href="#">XL</a></li>
				</ul>  
				<h3 class="m_1">On Sale</h3>
				 <div class="sale_grid">
				  <ul class="grid_1">
					<li class="grid_1-img"><img src="images/s1.jpg" class="img-responsive" alt=""/></li>
					<li class="grid_1-desc">
					  <h4><a href="#">Pintuck Tank</a></h4>
					  <p>$45.55</p>
					</li>
					<div class="clearfix"> </div>
				  </ul>
				  <ul class="grid_1">
					<li class="grid_1-img"><img src="images/s2.jpg" class="img-responsive" alt=""/></li>
					<li class="grid_1-desc">
					  <h4><a href="#">Pintuck Tank</a></h4>
					  <p>$45.55</p>
					</li>
					<div class="clearfix"> </div>
				  </ul>
				  <ul class="grid_1">
					<li class="grid_1-img"><img src="images/s3.jpg" class="img-responsive" alt=""/></li>
					<li class="grid_1-desc">
					  <h4><a href="#">Pintuck Tank</a></h4>
					  <p>$45.55</p>
					</li>
					<div class="clearfix"> </div>
				  </ul>
				</div>
			   <h3 class="m_1">Featured Products</h3>
			      <ul class="grid_1">
					<li class="grid_1-img"><img src="images/s4.jpg" class="img-responsive" alt=""/></li>
					<li class="grid_1-desc">
					  <h4><a href="#">Pintuck Tank</a></h4>
					  <p>$45.55</p>
					</li>
					<div class="clearfix"> </div>
				  </ul>
				  <ul class="grid_1">
					<li class="grid_1-img"><img src="images/s5.jpg" class="img-responsive" alt=""/></li>
					<li class="grid_1-desc">
					  <h4><a href="#">Pintuck Tank</a></h4>
					  <p>$45.55</p>
					</li>
					<div class="clearfix"> </div>
				  </ul>
				  <ul class="grid_1">
					<li class="grid_1-img"><img src="images/s6.jpg" class="img-responsive" alt=""/></li>
					<li class="grid_1-desc">
					  <h4><a href="#">Pintuck Tank</a></h4>
					  <p>$45.55</p>
					</li>
					<div class="clearfix"> </div>
				  </ul>
     		</div>
     	</div>
      </div>
      <div class="grid-2">
       	<div class="container">
       		<p>We accept<img src="images/paypal.png" class="img-responsive" alt="" align="middle" /></p>
       	</div>
       </div>
       <div class="footer_top">
       	<div class="container">
       		<div class="col-sm-2 grid-3">
       			<h3>Customer Service</h3>
       			<ul class="footer_list">
       				<li><a href="contact.html">Contact</a></li>
       				<li><a href="#">FAQ</a></li>
       				<li><a href="#">Terms of payment</a></li>
       				<li><a href="#">Terms of sale</a></li>
       				<li><a href="#">Terms and conditions</a></li>
       				<li><a href="#">Returns and Refunds</a></li>
       			</ul>
       		</div>
       		<div class="col-sm-2 grid-3">
       			<h3>Information</h3>
       			<ul class="footer_list">
       				<li><a href="#">Affiliate</a></li>
       				<li><a href="#">Cookies</a></li>
       				<li><a href="#">How to Shop</a></li>
       				<li><a href="#">About Nelly</a></li>
       				<li><a href="#">Investor relations</a></li>
       			</ul>
       		</div>
       		<div class="col-sm-2 grid-3">
       			<h3>Campaigns</h3>
       			<ul class="footer_list">
       				<li><a href="#">Evening Dresses</a></li>
       				<li><a href="#">Makeup</a></li>
       				<li><a href="#">Fashion forward</a></li>
       				<li><a href="#">Training clothes</a></li>
       				<li><a href="#">Special Occasion Dresses</a></li>
       			</ul>
       		</div>
       		<div class="col-sm-2 grid-3">
       			<h3>Stores</h3>
       			<ul class="footer_list">
       				<li><a href="#">Paris</a></li>
       				<li><a href="#">New York</a></li>
       				<li><a href="#">London</a></li>
       				<li><a href="#">Madrid</a></li>
       				<li><a href="#">Tokio</a></li>
       			</ul>
       		</div>
       		<div class="col-sm-2 grid-3">
       			<h3>Social</h3>
       			<ul class="footer_social">
				  <li><a href="#"> <i class="tw1"> </i> </a></li>
				  <li><a href="#"> <i class="db1"> </i> </a></li>
				  <li><a href="#"> <i class="fb1"> </i></a></li>
				  <li><a href="#"> <i class="g1"> </i></a></li>
				  <li><a href="#"> <i class="thumb"> </i></a></li>
				  <li><a href="#"> <i class="vimeo"> </i></a></li>
				</ul>
       		</div>
       		<div class="col-sm-2">
       			<img src="images/secure.png" alt=""/>
       		</div>
       	</div>
       </div>
       <div class="footer_bottom">
       	<div class="container">
       		<div class="cssmenu">
				<ul>
					<li class="active"><a href="login.html">Privacy & Cookies</a></li> |
					<li><a href="checkout.html">Terms & Conditions</a></li> |
					<li><a href="checkout.html">Accessibility</a></li> |
					<li><a href="login.html">Store Directory</a></li> |
					<li><a href="register.html">About Us</a></li>
				</ul>
			</div>
			<div class="copy">
			    <p>&copy; 2014 Template by <a href="http://w3layouts.com" target="_blank">w3layouts</a></p>
		    </div>
		    <div class="clearfix"> </div>
       	</div>
       </div>
</body>
</html>		