{% extends "@Shop/layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}

{% block page_content %}
    <div class="container">
        <p>{{ 'resetting.password_already_requested'|trans }}</p>
    </div>
{% endblock page_content %}
